{% extends "generic/fields/base.html" %}

{% block input %}
    <input class="form-control {% if field.errors %}error{% endif %}" type="number" step="0.01"
           name="{{ field.html_name|default:field.name }}"
           value="{{ field.value|default:field.initial|default:0 }}"
           {% if field.field.disabled or disabled %}disabled{% endif %}
           {% if field.field.required %}required{% endif %}
           {% if field.field.readonly %}readonly{% endif %}
    />
{% endblock input %}